<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auggie.student_server.mapper.CourseMapper">
    <!--课程基础信息-->
    <resultMap id="courseBaseInfo" type="com.auggie.student_server.entity.Course">
        <id property="courseId" column="cid"/>
        <result property="courseName" column="course_name"/>
        <result property="courseCredit" column="course_credit"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <!--查询全部课程-->
    <select id="findAll" resultMap="courseBaseInfo">
        SELECT cid, course_name, course_credit, create_time
        FROM studentms.t_course
        where delete_status = 1
    </select>
    <!--条件查询课程-->
    <select id="findBySearch" resultMap="courseBaseInfo">
        SELECT cid,course_name,course_credit,create_time FROM studentms.t_course
        where delete_status =1
        <if test="course.courseId != null">
            and cid = #{course.courseId}
        </if>
        <if test="course.courseName != null">
            <if test="fuzzy == 0">
                AND course_name = #{course.courseName}
            </if>
            <if test="fuzzy == 1">
                AND course_name LIKE CONCAT('%', #{course.courseName}, '%')
            </if>
        </if>
        <if test="lowBound != null">
            AND course_credit >= #{lowBound}
        </if>
        <if test="highBound != null">
            AND #{highBound} >= course_credit
        </if>
    </select>

    <!--修改课程-->
    <update id="updateById" parameterType="course">
        UPDATE studentms.t_course
        SET course_name   = #{course.courseName},
            course_credit = #{course.courseCredit}
        WHERE cid = #{course.courseId}
          and delete_status = 1
    </update>

    <!--保存课程-->
    <insert id="insertCourse">
        INSERT INTO studentms.t_course (course_name, course_credit, create_time, update_time)
        VALUES (#{courseName}, #{courseCredit}, now(), now())
    </insert>

    <!--删除课程-->
    <delete id="deleteById" parameterType="integer">
        update studentms.t_course
        set delete_status = 0,
            update_time   =now()
        WHERE cid = #{courseId}
    </delete>
</mapper>